body {
background-image: url('Images/fondo.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
body{
    width: 100%;
    max-width: 1024px;
}
.opacidad {opacity: 50%;}
.opacidad {font-size: cover;}
.opacidades {position: relative;bottom:570px;}
.opacidades {opacity: 48%;}
.logo {position: relative;bottom: 1160px;}
.logo {position: relative;right: 50px;}
.logox {position: relative;bottom: 1350px;}
.logox {position: relative;right:-40px;}
.compugif {position: relative;bottom: 1110px;}
.compugif {position: relative;left: 30px;}
.consultas {position: relative;bottom: 1470px;}
.consultas {position: relative;left: 40px;}
.consultas {font-size: 20px;}
.quehacemos {position: relative;bottom: 1440px;}
.quehacemos {position: relative;left: 38px;}
.quehacemos {font-size: 20px;}
a:link, a:visited { text-decoration: none; }
.quehacemos a:link, a:visited{
font-weight: 700;
font-size: 17px;
color:#ffffff;
padding-top:8px;
padding-bottom:8px;
padding-left:10px;
padding-right:10px;
background-color:#001035;
border-radius:6px;
font-family: arial;}
.quehacemos a:hover {
  background-color:#021b53;
}
.consultas a:link, a:visited{
font-weight: 700;
font-size: 17px;
color:#ffffff;
padding-top:8px;
padding-bottom:8px;
padding-left:10px;
padding-right:10px;
background-color:#001035;
border-radius:6px;
font-family: arial;}
.consultas a:hover {
  background-color:#021b53;
}
